.content {
    margin-top: 15px;
    display: flex;
    gap: 50px;
}
.posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
    width: 100%;
}
.sidebar {
    margin-top: 92px;
}

@media(max-width: 992px){
    .content{
        flex-direction: column-reverse;
        gap: 0px
    };
    .sidebar {
        margin-top: 15px;
    }
}