.root {
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 20px;
}