.top {
}
.file {
}
.img{
    width: 100%;
    margin-top: 30px;
}

.title {
  margin-top: 20px !important;
  input {
    font-size: 42px;
    font-weight: 900;
  }
}
.tags {
  margin: 20px 0 !important;
}
.buttons {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}
